<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia sesión en Uptask

            include partials/mensajes

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu email" id="email" value= email)

                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu password" id="password" value= password)

                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesión")

                .campo.acciones
                    a(href="/crear-cuenta") ¿Aun no tienes cuenta? Crea una gratis

                    a(href="/reestablecer") ¿Olvidaste tu contraseña?



