<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Agrega tu E-mail para reestablecer tu contraseña
            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu email" id="email" value= email)

                .campo.enviar
                    input.boton(type="submit" value="Reestablecer password")

                .campo.acciones
                    a(href="/iniciar-sesion") Ya lo recorde, volver a Login

