<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        style
            include ./email.css



    body
        h2 Confirma tu cuenta UpTask
        p Ya estas a un paso de finalizar tu registro
        a(href=`${confirmUrl}`) Ir a Confirmar cuenta
        p Si no puedes acceder a este enlace, visita #{confirmUrl}

