<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        style
            include ./email.css



    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo,este enlace es temporal, si se vence puedes volver a solicitarlo
        a(href=`${resetUrl}`) Ir a Resetear el password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo
